<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Data</th>
        <th>Total Usuários</th>
        <th>Total Livros</th>
        <th>Total Negociações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d : ${dashboards}">
        <td th:text="${d.dataCriacao}"></td>
        <td th:text="${d.totalUsuarios}"></td>
        <td th:text="${d.totalLivros}"></td>
        <td th:text="${d.totalNegociacao}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>