<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>
    <div th:each="usuario: ${usuarios}">
        <img th:src="${usuario.foto}">
        <span th:text="${usuario.nome}"></span>
        <a th:href="@{'/alterar/' + ${usuario.id}}">Alterar</a>
        <form th:action="@{'/excluir/' + ${usuario.id}}" method="post">
            <button type="submit">Excluir usuário</button>
        </form>
    </div>

</body>
</html>